<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>823240085219-qvk68lbos5ng4oqd258nkua6niqik3ch.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.823240085219-qvk68lbos5ng4oqd258nkua6niqik3ch</string>
	<key>API_KEY</key>
	<string>AIzaSyBvwTWOYplmO8uPn9MNCWfMVaVVTDaq7dA</string>
	<key>GCM_SENDER_ID</key>
	<string>823240085219</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Swift-beginners2.TestMessenger</string>
	<key>PROJECT_ID</key>
	<string>testmessenger-284d4</string>
	<key>STORAGE_BUCKET</key>
	<string>testmessenger-284d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:823240085219:ios:64cde76d6e5298b5</string>
	<key>DATABASE_URL</key>
	<string>https://testmessenger-284d4.firebaseio.com</string>
</dict>
</plist>